<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="cloudb" publicKeyToken="f41361e30c6e84d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.4.0" newVersion="1.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>