
/src/cloudb-oauth/obj
/src/cloudb-oauth/bin
/src/cloudb-oauth-nunit/obj
/src/cloudb-oauth-nunit/bin
/src/_ReSharper.cloudb.vs2008
/src/cadmin/obj
/src/cadmin/bin
/src/cloudbase/obj
/src/cloudbase/bin