
/src/_ReSharper.cloudb.vs2008
/src/cadmin/obj
/src/cadmin/bin
/src/cloudb/obj
/src/cloudb/bin
/src/cloudbase/obj
/src/cloudbase/bin
/src/cloudbase-nunit/obj
/src/cloudbase-nunit/bin
/src/cloudb-json/obj
/src/cloudb-json/bin
/src/cloudb-log4net/obj
/src/cloudb-log4net/bin
/src/cloudb-nunit/obj
/src/cloudb-nunit/bin
/src/mnode/obj
/src/mnode/bin
/src/nunit-common/obj
/src/nunit-common/bin
/src/cloudb+obj/bin
/src/cloudb+obj/obj
*.user
*.suo
/src/cloudb-oauth/obj
/src/cloudb-oauth/bin
/src/cloudb-oauth-nunit/obj
/src/cloudb-oauth-nunit/bin
/src/_ReSharper.cloudb.vs2010
/src/cloudb+sql-nunit/obj
/src/cloudb+sql-nunit/bin
/src/cloudb+sql/bin
/src/cloudb+sql/obj
/src/cloudb-nunit-common/obj
/src/cloudb-nunit-common/bin
/src/cdbcli/obj