
/src/cloudb-oauth/obj
/src/cloudb-oauth/bin
/src/cloudb-oauth-nunit/obj
/src/cloudb-oauth-nunit/bin
/src/_ReSharper.cloudb.vs2008
/src/cadmin/obj
/src/cadmin/bin
/src/cloudbase/obj
/src/cloudbase/bin
/src/cloudb/obj
/src/cloudb/bin
/src/cloudbase-nunit/obj
/src/cloudbase-nunit/bin
/src/cloudb-json/obj
/src/cloudb-json/bin
/src/cloudb-log4net/obj
/src/cloudb-log4net/bin
/src/cloudb-nunit/obj
/src/cloudb-nunit/bin
/src/mnode/obj
/src/mnode/bin
*.user
*.suo
/src/_ReSharper.cloudb.vs2010
/src/cloudb+obj/obj
/src/cloudb+obj/bin
/src/cloudb-nunit-common/obj
/src/cloudb-nunit-common/bin
/src/cloudb+sql/Deveel.Data.Sql.Parser/TokenMgrError.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/ParseException.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/SimpleCharStream.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/SqlParser.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/SqlParserConstants.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/SqlParserTokenManager.cs
/src/cloudb+sql/Deveel.Data.Sql.Parser/Token.cs
/src/cloudb+sql/obj
/src/cloudb+sql/bin
/src/cloudb+sql-nunit/obj

/src/cdbcli/obj
/package.build

/src/cadmin/bin
/src/cadmin/obj
/src/cloudb/bin
/src/cloudb/obj
/src/_ReSharper.cloudb.vs2008
/src/cloudb-oauth-nunit/bin
/src/cloudb-oauth-nunit/obj
/src/cloudb-oauth/bin
/src/cloudb-oauth/obj
/src/cloudbase/bin
/src/cloudbase/obj
/src/nunit-common/bin
/src/nunit-common/obj
/src/cloudb-json/bin
/src/cloudb-json/obj
/src/cloudb-log4net/bin
/src/cloudb-log4net/obj
/src/cloudb-nunit/obj
/src/cloudb-nunit/bin
/src/cloudbase-nunit/obj
/src/cloudbase-nunit/bin
/src/mnode/obj